/* ==========================================================================
   Homepage Styles
   ========================================================================== */

nav {
    margin-top: -50px;

    .logo {
        text-decoration: none;

        img {
            display: inline-block;
            vertical-align: middle;
        }
        
        h1 {
            color: #fff;
            display: inline-block;
            vertical-align: middle;
            font-size: 1.4rem
        }

    }
}


.hero {
    height: 80%;
    height: 70vw;
    max-height: 1000px;
    padding: 80px 0 200px;

    background: url("../assets/imgs/llama-bg-lg.jpg") no-repeat fixed;
    background-size: cover;

    .hr-10 {
        margin-bottom: 20px;
        background-color: $main-green;
    }

    .headlines {
        padding: 4em 0 0;

        h2 {
            color: #efefef;
            line-height: 1.1;
            letter-spacing: 1px;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: 0.55em;

            .loud {
                font-weight: bold;
                font-size: 1.1em;
            }

            .intro {
                color: $main-green;
                font-size: .55em;
                margin-bottom: 0.55em;
            }
        }

        p {
            color: #d8d6d6;
            letter-spacing: .038em;
            font-style: italic;
        }
    }

    @media (min-width: 600px) {
        height: 35vw;
    }

    @media (--large-viewport) {
        .headlines {
            padding: 6em 0 0 0;
        }
    }
}


/* 
   About Us
   ========================================================================== */

.about-us {
    @extend .padding;
    background-color: $light-clouds;
    
    .heading {
        text-align: left;
        margin-bottom: $base;
        
        h3 {
            color: $dark-blue;
            font-size: 1.8em;
            letter-spacing: 1px;
        }
        
        li {
            color: #395C63;
        }
    }


    .top-section {
        background-color: $light-clouds;
        border-top: 1px solid $hint-clouds;
    }
    
    .llama-wrap {
        margin: 0 auto;
        text-align: center;
        
        img {
            height: 100%;
            margin: 0 auto;
            animation: levitate 3s ease infinite;
        }


        .llama-shadow {
            width: 89px;
            height: 9px;
            margin: 35px auto;
            animation: shadow 3s ease infinite;
            border-radius: 100%;
            background: #cecece;
        }

    }

    .team-numbers {
        padding-top: 20px;
        margin-bottom: -calc($base*4);
        border-top: 1px dotted #000;

        .col {
            padding: 20px 0;
            text-align: center;
            
            &:first-child {
                border-bottom: 1px dotted #000;
            }
        }

        @media (--large-viewport) {
            .col {
                text-align: initial;

                &:first-child {
                    border-width: 0 1px 0 0;
                }
            }
        }

        img,
        .stat-wrap {
            display: inline-block;
            text-align: center;
        }

        h2 {
        }
    }
}

/* 
   Our Projects 
   ========================================================================== */
.history {
    @extend .padding;
    background-color: $dark-blue;

    .wrapper {
        padding-top: 3em;
        padding-bottom: 3em
    }

    
    h3,
    p {
        color: #fff;
    }
    
    img {
        display: block;
        margin: $base-lg auto;
        max-width: 200px;
        border-radius: 300px;
    }

    @media (--large-viewport) {
        .col:nth-child(2) {
            text-align: right;
            padding-left: $base-lg;
        }

        .heading {
            text-align: right;
        }

        img {
            margin: initial;
            max-width: 100%;
        }

    }
}

/* 
   Our Projects 
   ========================================================================== */
.projects {
    @extend .padding;
    background-color: #fff;

    h3 {
        color: $main-orange;
    }

    .top-section {
        border-top: 1px solid $hint-clouds;
        background-color: #fff;
    }
    
    .examples {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .one-project {
        border: 1px solid #efefef;
        width: 100%;
        margin-bottom: 2em;

        h4 {
            padding-bottom: $base;
            border-bottom: 1px solid #eaeaea;
        }

        .information {
            padding: 10px;
        }
    }

    @media (--large-viewport) {
        .one-project {
            width: 31%;
        }

    }
}




/* 
   Our Team 
   ========================================================================== */
.our-team {
    @extend .padding;
    background-color: $light-clouds; 

    .heading {
        text-align: center; 
        margin-bottom: 1em;
    }
    
    .top-section {
        border-top: 1px solid $hint-clouds;
        background-color: $light-clouds;
    }

    .team {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100%;
        }

        .member {
            width: 50%;
            text-align: center;
            padding: 10px;
            box-sizing: border-box;
            transition: all .3s ease;

            h4 {
                font-size: 16px;
                font-size: 0.9rem;
                margin-bottom: 5px;
            }
        }

        @media (--large-viewport) {
            .member {
                width: 33%;
            }
        }

        .bio-info {
            text-align: initial;
            font-size: .85em;
            letter-spacing: 2px;
        }
    }
}

/* 
    Quote
   ========================================================================== */
.quote {
    padding: 4em 0;
    text-align: center;
    background-color: $main-orange;
    
    .top-section {
        background-color: $light-clouds;
        border-bottom: 1px solid #d8733a;
    }

    span {
        color: #fff;
    }

    h2 {
        padding: 0.5em 0;
        color: #fff;
        line-height: 1.3;
    }
}

/* 
   Social Media Portion
   ========================================================================== */
.media {
    @extend .padding;
    text-align: center;
    background-color: $cloud;
    margin-top: 22px;

    #instafeed {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: $base-lg;

        a {
            padding: 0 4px;
        }
    }

    .top-section {
        background-color: $cloud;
    }

    h3 {
        color: $main-orange;
        margin-bottom: $base;
    }

    li {
        color: #656565;
    }
}