/* ==========================================================================
   Animations

   Animations listed here
   ========================================================================== */

@keyframes levitate {
	from {
		transform: translate(0, 0px)
	}
	@for $i from 0 to 65 by 1 {
		$i% {
			transform: translate(0, calc($i * .324)px) 
		}
	}
	to {
		transform: translate(0, 0px);
	}
}

@keyframes shadow {
	from {
		width: 89px;
		background-color: #4D6C71;
	}
	72% {
		background-color: #2B4246;
		width: 76px;
	}
	to {
		width: 89px;
		background-color: #4D6C71;
	}
}