/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	padding: calc($base * 4) 0;
	background-color: #404C5C;

	h3 {
		color: $main-orange;
		border-bottom: 1px dotted;
		padding: 0 5px 8px;
	}

	ul {
		padding-left: 0;
		list-style-type: none;
	}

	.social-media {
		li {
			display: inline-block;

			i {
				color: #fff;
				font-size: 2em;
				margin: 9px;
				transition: color .4s ease;

				&:hover,
				&:focus {
					color: #A0958D;
				}
			}

			&:first-child i {
				margin-left: 0;
			}
		}
	}

	.contact-info {
		text-align: right;

		.location {
			margin-top: 0;
		}

		a {
			color: #fff;
			transition: color .4s ease;

			&:focus,
			&:hover {
				color: #A0958D;
			}
		}

		li {
			color: #fff;
			padding-top: 5px;

			&:first-child {
				padding-bottom: 5px;
			}
		}

		address {
			font-size: 15px;
		}
		.copy {
			font-family: $font-paragraph;
			color: #fff;
		}

	}
}