/* ==========================================================================
   Mixins Declarations

   Applying DRY, where it's too wet.
   ========================================================================== */


@define-mixin colSet $1st-width, $2nd-width {
	&-$(1st-width)-$(2nd-width) {
		display: flex;
		width: 100%;
		
		.col {
			width: $(1st-width)%;
		
			+.col {
				width: $(2nd-width)%;
			}
		}
	}
}

@define-mixin quickSet $1st-width, $2nd-width {
	&-$(1st-width)-$(2nd-width) {
		@mixin-content;
	}
}

@define-mixin set100 $1st-width, $2nd-width {
	&-$(1st-width)-$(2nd-width) {
		display: block;
		width: 100%;
		
		.col {
			display: block;
			width: 100%;
		
			+.col {
				display: block;
				width: 100%;
			}
		}
	}
}
