/* ==========================================================================
   Variables

   Declare global variables here
   ========================================================================== */

/** Color Scheme **/
$main-orange: #ff7f37;
$main-blue: #0a6cff;
$main-green: #83ef78;

$dark-blue: #5a7c98;
$dark-green: #8cb210;

$teal: #719da5;
$cloud: #efefef;
$light-clouds: #f9f9f9;
$hint-clouds: #f5f5f5;
$font-grey: #797979;


$font-headings: Arial, sans-serif;
$font-paragraph: 'Gentium Basic', Georgia, serif;

/* Sizing */
$base: 10px;
$base-md: calc($base*2);
$base-lg: calc($base*3);


/* 
   Media Queries Related
   ========================================================================== */

@custom-media --small-viewport (max-width: 640px);
@custom-media --large-viewport (min-width: 800px);