/* ==========================================================================
   Variables

   Declare global variables here
   ========================================================================== */

/** Color Scheme **/
$main-orange: #ff7f37;
$main-blue: #0a6cff;
$main-green: #a2cc1d;

$dark-blue: #1956b2;
$dark-green: #8cb210;

$teal: #719DA5;
$cloud: #efefef;
$font-grey: #797979;

$font-headings: 'Open Sans', sans-serif;
$font-paragraph: 'Gentium Basic', serif;

/* Sizing */
$base: 10px;


/* 
   Media Queries Related
   ========================================================================== */

@custom-media --small-viewport (max-width: 640px);
@custom-media --large-viewport (min-width: 800px);